body {
    font-size: 18px;
}

.sidebar {
    margin-top: 10px;
    background-color: #f8f9fa;
}

.card {
    margin-top: 10px;
}

.main {
    margin-top: 10px;
}

.green {
    color: rgb(13, 110, 253) !important;
}
